body {
  width: 270px;
  height: 350px;
  /* padding: 15px; */
  font-family: Arial, sans-serif;
  margin: 0;
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  height: 40px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: var(--primary-color-strong);
  border-bottom: 1px solid var(--primary-color-deep);
}

h2 {
  color: white;
  margin-top: 0;
  margin-bottom: 8px;
  align-self: flex-start;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type="number"],
input[type="text"].number-input {
  all: unset;
  width: 120px;
  padding: 6px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  transition: border 0.2s, box-shadow 0.2s;
  background: #f9fafb;
}

input[type="number"]:focus,
input[type="text"].number-input:focus {
  border: 1.5px solid var(--primary-color-deep);
  box-shadow: 0 2px 12px var(--primary-color);
}
